* {
    box-sizing: border-box;
}

nav {
    width: 100%;
    color: white;
}

nav a {
    color: white;
    text-decoration: none;
}

body {
    min-width: 360px;
    overflow-x: hidden;
    font-size: 7px;
    background-image: linear-gradient(to right, #fa709a 0%, #fee140 100%);
    background-image: linear-gradient(15deg, #13547a 0%, #80d0c7 100%);
    
}

h1 {
    color: white;
    position: absolute;
    top: 30%;
    padding-left: 15px;
}

.bem-vindo {
    color: yellow;
    position: absolute;
    top: 45%;
    padding-left: 20px;
}

html {
    width: 100%;
    box-sizing: border-box;
    overflow-x: hidden;
}

#inicio {
    margin: 15px 20px;
    box-sizing: border-box;
    opacity: 0.9;
    background-image: url('../mostra-bg.jpg');
    width: calc(100%-40px);
    border: 1px solid gray;
    border-radius: 5px;
    box-shadow: 0 3px 6px;
    min-height: 300px;
    background-size: 100% 100%;
    display: block;
    position: relative;
}

#mostra {
    margin: 30px;
    background: lightblue;
    padding: 30px 0px 30px 0px;
    box-shadow: 4px 4px 4px;
}

#mostra img {
    border-radius: 50%;
    border: 1px solid goldenrod;
}

#mostra figcaption {
    padding-top: 10px;
    text-align: center;
    color: white;
    font-weight: bold;
    font-size: 15px;
}

#mostra p {
    padding-left: 30px;
    padding-right: 30px;
    font-size: 2.61111111em;
    color: #222222;
    line-height: 1.36170213em;
}

.centered-and-cropped {
    object-fit: cover;
    margin: auto;
    display: block;
}

#divisoria-equipes {
    height: 3px;
    width: 85%;
    border-top: 5px solid black;
}

.timeline-start {
    position: relative;
    height: 47px;
    width: 86px;
    border: 1px solid black;
    font-size: 20px;
    background: #00b0bd;
    color: #fff;
}

.timeline-end {
    position: relative;
    height: 47px;
    width: 86px;
    border: 1px solid black;
    font-size: 20px;
    background: #00b0bd;
    color: #fff;
}

.timeline-start p {
    position: absolute;
    width: 100%;
    left: 8px;
    top: 15px;
    margin-bottom: 30px;
}

.timeline-end p {
    position: absolute;
    width: 100%;
    left: 8px;
    top: 15px;
    margin-bottom: 30px;
}

.linha-timeline {
    position: absolute;
    width: 6px;
    height: calc(100% - 69px);
    background: #00b0bd;
    left: 22px;
    top: 47px;
}



#equipes {
    border-top: 10px;
    background: #e6e6e6;
    height: 100%;
    position: relative;
    box-shadow: 2px 3px 6px;

}

@media (min-width: 560px) { 
   
    .bolaequipe {
        display: none;
    }

    .linha-timeline {
        display: none;
    }
    
}

@media (min-width: 768px) {
    body {
        width: 100%;
        height: 100%;
        margin: auto;
        max-width: 100%;
    }
    h1, .bem-vindo {
        font-weight: bold;
        padding-left: 30px;
    }
    nav {
        z-index: -9999;
    }
    nav a {
        font-size: 3em;
        z-index: -9999;
        color: white;
    }
    #inicio {
        width: 100%;
        min-height: 600px;
        max-width: 980px;
        margin: auto;
    }
    #mostra {
        width: 100%;
        max-width: 960px;
        margin: auto;
        margin-top: 30px;
        margin-bottom: 30px;
    }
    #equipes {
        width: 100%;
        max-width: 950px;
        margin: auto;
        margin-top: 10px;
        padding-top: 15px;
        padding-bottom: 15px;
    }
    .timeline-start {
        position: relative;
        height: 47px;
        width: 86px;
        border: 1px solid black;
        font-size: 20px;
        background: #00b0bd;
        color: #fff;
        left: calc(50% - 43px);
       
    }
    .timeline-end {
        position: relative;
        height: 47px;
        width: 86px;
        border: 1px solid black;
        font-size: 20px;
        background: #00b0bd;
        color: #fff;
        left: calc(50% - 43px);
    }
    .timeline-start p {
        position: absolute;
        width: 100%;
        left: 8px;
        top: 15px;
        margin-bottom: 30px;
    }
    .timeline-end p {
        position: absolute;
        width: 100%;
        left: 8px;
        top: 15px;
        margin-bottom: 30px;
    }
    .linha-timeline {
        position: absolute;
        display: inline-block;
        width: 6px;
        background: #00b0bd;
        left: 50%;
    }
    .container {
        padding-bottom: 60px;
    }
    .lado-a {
        position: relative;
    }
    
   
}

@media (min-width: 992px) {}

/* Large devices (large desktops, 1200px and up) */

@media (min-width: 1200px) {}