.container {
    display: grid;
    grid-template-columns: 1fr;
    grid-auto-rows: 600px;
}

.item {
    margin-top: 32px;
    margin-left: 64px;
    margin-right: 40px;
    width: calc(100%-64px);
    height: 100%;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 250px 250px;
    grid-template-areas: 'a' 'b';
    grid-gap: 30px;
    position: relative;
}

.item img {
    opacity: 0.9;
    width: 100%;
    object-fit: none;
}

.lado-a, .lado-b {
    width: 100%;
    height: 100%;
    box-shadow: 0 3px 6px;
}

.lado-a {
    grid-area: a;
    position: relative;
}

.lado-b {
    grid-area: b;
}

.imagem-equipe {
    display: grid;
    height: 100%;
    width: 100%;
    grid-template-columns: 1fr;
    grid-template-rows: 125px 125px;
    grid-template-areas: 'equipe' 'texto';
}

.imagem-equipe h2 {
    grid-area: texto;
}

.imagem-equipe img {
    grid-area: equipe;
    width: 100%;
    height: 100%;
}

.descricao-equipe {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 125px 125px;
    grid-template-areas: 'propaganda' 'descricao';
}

.descricao-equipe p {
    grid-area: descricao;
}

.descricao-equipe img {
    grid-area: propaganda;
    width: 100%;
    height: 100%;
}

.nome-equipe {
    position: absolute;
    color: white;
    top: 10px;
    height: 40px;
    width: 130px;
    z-index: 1;
    background: #7E77E8;
}

.nome-equipe p {
    padding-top: 10px;
    padding-left: 10px;
    font-weight: bold;
    font-size: 12px;
}

.texto-equipe, .desc-equipe {
    padding-left: 10px;
}

.bolaequipe {
    position: absolute;
    left: -62px;
    top: 20px;
    width: 46px;
    height: 46px;
    border-radius: 50%;
    background: #00b0bd;
    
}

@media (min-width: 768px) {
    .container {
        grid-auto-rows: 250px;
        grid-gap: 80px;
        margin: auto;
        align-content: center;
    }
    .item {
        grid-template-columns: minmax(310px, 400px) minmax(310px, 400px);
        grid-template-rows: 250px;
        margin: auto 30px;
        grid-gap: 90px;
    }
    .item:nth-child(odd) {
        grid-template-areas: 'a b';
    }
    .item:nth-child(even) {
        grid-template-areas: 'b a';
    }
    .bolameio {
        position: absolute;
        display: inline-block;
        left: calc(50% - 20px);
        top: 20px;
        width: 46px;
        height: 46px;
        border-radius: 50%;
        background: #00b0bd;
    }
}